$img: "../img/";
$fonts: "../fonts/";
$sprite: url(#{$img}sprite.png);
$icons: url(#{$img}icons.png);
$pie: url(js/PIE.htc);
$font1: 'Open Sans', sans-serif;


// Цвета

$gray: #575757;
$light-gray: #b7b7b7;
$dark-gray: #373737;
$azure: #3ba4b5;
$green: #7eb678;
$nav-link: black;
$nav-link-secondary: #373737;
$slider-bg: #f9f9f9;
$text: #575757;